
# Created by https://www.gitignore.io/api/netbeans
# Edit at https://www.gitignore.io/?templates=netbeans

### NetBeans ###
#nbproject/
#build/
#nbbuild/
#dist/
#nbdist/
#.nb-gradle/
#build.xml

# End of https://www.gitignore.io/api/netbeans
/nbproject/
/build/
/dist/
/src/java/edu/vt/globals/Constants.java
/web/WEB-INF/glassfish-web.xml
